# OpenAPI version identifier - required for OpenAPI 3.1 domains
openapi: 3.1.0

#######################
# Optional info section
#######################
info:
  title: Billing Components
  description: Billng components for TurboSMTP REST APIs
  version: '1.0.0-oas3'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:   
- description: turboSMTP Production Server
  url: https://pro.api.serversmtp.com/api/v2

security:
  - ApiKeyAuth: []

# Empty paths section - required for OpenAPI 3.0 structure
paths: {}
    
components:

  #######################
  # Common path items
  #######################
  pathItems:
    PersonalDetails:
      get:
        security:
          - ApiKeyAuth: [ ]
        tags:
          - billing
        summary: Get personal billing details
        operationId: getPersonalDetailsBilling
        description: |
          Get personal billing details
        responses:
          '200':
            description: | 
              Sucess
              
              Personal billing details.  
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/PersonalDetailsBilling'
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'
      put:
        security:
          - ApiKeyAuth: [ ]
        tags:
          - billing
        summary: Update personal billing details
        operationId: updatePersonalDetailsBilling
        description: |
          Update personal billing details
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PersonalDetailsBillingUpdate'
        responses:
          '200':
            description: | 
              Sucess
              
              Personal billing details updated sucessfully.  
            content:
              application/json:
                schema:
                  $ref: './Shared.yaml#/components/schemas/CommonSuccessResponseBody'
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'
    
    BillingContacts:
      get:
        security:
          - ApiKeyAuth: [ ]
        tags:
          - billing
        summary: Get billing contacts
        operationId: getContactsBilling
        description: |
          Get billing contacts
        responses:
          '200':
            description:  | 
              Sucess
              
              Billing Contacts List.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/ContactDetailsBillingList'
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'

      post:
        security:
          - ApiKeyAuth: [ ]
        tags:
          - billing
        summary: Create billing contact
        operationId: createContactBilling
        description: |
        
          Create billing contact
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDetailsBillingCreateUpdate'
        responses:
          '201':
            description: Billing Contact created successfully
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    status:
                      type: string
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'

              
    BillingContactsUpdate:
      put:
        security:
          - ApiKeyAuth: [ ]
        tags:
          - billing
        summary: Update billing contact
        operationId: updateContactBilling
        description: |
        
          Update billing contact
        parameters:
          - $ref: './Shared.yaml#/components/parameters/IdParam'
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContactDetailsBillingCreateUpdate'
        responses:
          '200':
            description: | 
              Sucess
              
              Billing Contact updated sucessfully. 
            content:
              application/json:
                schema:
                  $ref: './Shared.yaml#/components/schemas/CommonSuccessResponseBody'
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'
          '404':
              description: |
                Not Found
                
                Billing Contact not found.
                
                ###### Produces: 
              
                * billing_contact_were_not_found                
              content:
                application/json:
                  schema:
                    $ref: './Shared.yaml#/components/schemas/CommonMessageResponseBody'
                  example: 
                    message: "billing_contact_were_not_found"
      
      delete:
        security:
          - ApiKeyAuth: [ ]
        tags:
          - billing
        summary: Delete Billing Contact
        operationId: deleteContactBilling
        description: |
        
          Delete billing contact
        parameters:
          - $ref: './Shared.yaml#/components/parameters/IdParam'
        responses:
          '200':
            description: | 
              Sucess
              
              Billing Contact deleted sucessfully. 
            content:
              application/json:
                schema:
                  $ref: './Shared.yaml#/components/schemas/CommonSuccessResponseBody'
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'
          '404':
              description: |
                Not Found
                
                Billing Contact not found.
                
                ###### Produces: 
              
                * billing_contact_were_not_found                
              content:
                application/json:
                  schema:
                    $ref: './Shared.yaml#/components/schemas/CommonMessageResponseBody'
                  example: 
                    message: "billing_contact_were_not_found"
      
    BuyEmailValidatorCredits:
      post:
        security:
          - ApiKeyAuth: [ ]
          - consumerKey: [ ]
            consumerSecret: [ ]           
        tags:
          - billing
        summary: Buy Email Validator Credits
        operationId: buyEmailValidatorCredits
        description: |
        
          Buy Email Validator Credits
        
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyEmailValidatorCreditsRequest'
        responses:
          '200':
            description: | 
              Sucess
              
              Returns url to the billing system to allow payment completition. 
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BuyEmailValidatorCreditsSucessResponse'
          '400':
            description: |
              Bad Request
  
              ###### Produces:
  
              * missing_required_parameter_amount
              * amount_should_be_integer
              * amount_should_not_be_less_than_15
              * amount_should_not_be_higher_than_1800
              * can_not_buy_extra_credit_without_active_plan
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/BuyEmailValidatorCreditsBadRequestResponseBody'                  
          '401':
              $ref: './Shared.yaml#/components/responses/Unauthorized'
          
          
          
  ####################
  # Common data models
  ####################
  
  schemas:
    BuyEmailValidatorCreditsRequest:
      type: object
      additionalProperties: false
      properties:
        amount: 
          type: integer
          example: 320
          description: "Amount of money to use for purchase"
          
    BuyEmailValidatorCreditsSucessResponse:
      type: object
      additionalProperties: false
      properties:
        url:
          type: string
          example: "http://bs.dev.serversmtp.com/index.php/guest/payment_information/form/amsyUJvFeW0fkjLqbcTKMCBRZDi2AdIH"
          description: "Url to complete payment"
          
    BuyEmailValidatorCreditsBadRequestResponseBody:
                additionalProperties: false
                properties:
                  message:
                    type: string
                    enum: ['missing_required_parameter_amount','amount_should_be_integer',
                    'amount_should_not_be_less_than_15', 'amount_should_not_be_higher_than_1800']
                example: 
                    message: 'amount_should_be_integer'    

    PersonDetailsBase:
        type: object
        properties:
            first_name:
              type: string
              example: "Jhon"
              description: "First Name"        
            last_name:
              type: string
              example: "Doe"
              description: "Last Name" 
            company_name:
              type: string
              example: "Refreshing Soda Inc."
              description: "Copany Name"
            address_1:
              type: string
              example: "51 Guild Street"
              description: "Address Line 1"
            address_2:
              type: string
              example: "1st Floor"
              description: "Address Line 2"
            city:
              type: string
              example: "London"
              description: "City"
            zip_code:
              type: string
              example: "NW10 9NQ"
              description: "Zip Code"
            country:
              type: string
              example: "United Kingdom"
              description: "Country"
            state:
              type: string
              example: "London"
              description: "State"
        required:
                    - first_name
                    - last_name
                    - address_1
                    - address_2
                    - city
                    - zip_code
                    - country
                    - state
  
    PersonalDetailsBillingUpdate:
      allOf:
        - $ref: '#/components/schemas/PersonDetailsBase'
        - type: object
          properties:
            vat:
              type: string
              example: "GB999 9999 73"
              description: "Identification number used in various countries for tax purposes"
            website:
              type: string
              example: "https://www.refreshing-soda.com"
              description: "Website"
            offers_acceptance:
              type: boolean
              example: true
              description: "Agree to receive dedicated offers and tips from turboSMTP"
            default_contact:
              type: integer
              example: 0
              description: "Default Contact"
              
    PersonalDetailsBilling:
      unevaluatedProperties: false
      allOf: 
        - $ref: './Shared.yaml#/components/schemas/Email'
        - $ref: './Shared.yaml#/components/schemas/PhoneNumber'
        - $ref: '#/components/schemas/PersonalDetailsBillingUpdate'
      
    ContactEmailsOptions:
      type: object
      properties:
        emails:
          type: object
          properties:
            domain:
              type: boolean
              example: true
              description: "Service Emails - Renewal Notices, Registration Confirmations, etc."
            general:
              type: boolean
              example: true
              description: "General Emails - General Announcements & Password Reminders."
            invoice:
              type: boolean
              example: true
              description: "Invoice Emails - Invoices & Billing Reminders"
            products:
              type: boolean
              example: true
              description: "Product Emails - Order Details, Welcome Emails, etc."
            support:
              type: boolean
              example: true
              description: "Support Emails - Allow this user to open tickets in your account."
    
    ContactDetailsBillingCreateUpdate:
      allOf:
        - $ref: '#/components/schemas/PersonDetailsBase'
        - $ref: './Shared.yaml#/components/schemas/Email'
        - $ref: './Shared.yaml#/components/schemas/PhoneNumber'
        - $ref: '#/components/schemas/ContactEmailsOptions'

    ContactDetailsBilling:
      unevaluatedProperties: false
      allOf: 
        - type: object
          properties:
            id:
              type: integer
              example: 1793
              description: "Contact Billing ID"    
        - $ref: '#/components/schemas/ContactDetailsBillingCreateUpdate'
    
        
    ContactDetailsBillingList:
                  type: object
                  additionalProperties: false
                  properties:
                    count:
                      type: integer
                      example: 1
                      description: "Ammount of Billing Contacts"
                    results:
                      type: array
                      items: 
                        $ref: '#/components/schemas/ContactDetailsBilling'

  ####################
  # Security schemes
  ####################
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    consumerKey:
      type: apiKey
      in: header
      name: consumerKey
    consumerSecret:
      type: apiKey
      in: header
      name: consumerSecret
