# OpenAPI version identifier - required for OpenAPI 3.0 domains
openapi: 3.1.0

#######################
# Optional info section
#######################
info:
  title: Suppressions Components
  description: Suppressions components for TurboSMTP REST APIs
  version: '1.0.0-oas3'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:   
- description: turboSMTP Production Server
  url: https://pro.api.serversmtp.com/api/v2

security:
  - ApiKeyAuth: []

# Empty paths section - required for OpenAPI 3.0 structure
paths: {}

components:

  #######################
  # Common path items
  #######################
  pathItems:
  
    SuppressionsImport:        
      post:
        operationId: importSuppressions      
        tags: 
          - suppressions
        summary: Import Suppressions
        security:
          - ApiKeyAuth: [ ]  
          - consumerKey: [ ]
            consumerSecret: [ ]              
        description: |
           
           Import Suppressions

        #consumes:
          #- application/json
          #- application/xml           
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionImportJson'            
            multipart/form-data:
              schema:
                $ref: '#/components/schemas/SuppressionImportFile'    
        responses:
          '200':
            description: |
              Sucess

              Email Addresses were imported.

            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SuppressionUploadResponse'
            links:
              CleanupByBulkDelete:
                operationId: bulkDeleteSuppressions
                requestBody: '$response.body#/valid'
          '400':
            description: |
              Bad Request
              
              ###### Produces:
              
              * missing_upload_file
              * invalid_mail_address_list
              
            content:
              application/json:
                schema:
                  $ref: 'Shared.yaml#/components/schemas/CommonBadRequestResponseBody'                   
          '401':
              $ref: 'Shared.yaml#/components/responses/Unauthorized' 
  
    Suppressions:
      get:
        tags:
          - suppressions
        summary: Get Suppressions Data
        security:
          - ApiKeyAuth: [ ]
          - consumerKey: [ ]
            consumerSecret: [ ]
        operationId: getSuppressions
        description: |
          Get Suppressions Data
        parameters:
          - $ref: 'Shared.yaml#/components/parameters/PageQueryParam'
          - $ref: 'Shared.yaml#/components/parameters/LimitQueryParam'          
          - $ref: 'Shared.yaml#/components/parameters/FromQueryParam'
          - $ref: 'Shared.yaml#/components/parameters/ToQueryParam'
          - $ref: 'Shared.yaml#/components/parameters/TimezoneQueryParam'
          - $ref: '#/components/parameters/SuppressionFilterQueryParam'
          - $ref: '#/components/parameters/SuppressionFilterByQueryParam'
          - $ref: 'Shared.yaml#/components/parameters/SmartSearchQueryParam'          
          - $ref: '#/components/parameters/SuppressionOrderByQueryParam'
          - $ref: 'Shared.yaml#/components/parameters/OrderTypeQueryParam'
        responses:
          '200':
            description: | 
              Sucess
              
              Get Filtered Suppressions Data.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SuppressionsSucessResponsetBody'
          '401':
            $ref: 'Shared.yaml#/components/responses/Unauthorized'  
      post:
        tags:
          - suppressions
        summary: Filter suppressions
        security:
          - ApiKeyAuth: [ ]
          - consumerKey: [ ]
            consumerSecret: [ ]          
        operationId: filterSuppressions
        description: |
          Get Suppressions Data
        requestBody:
          required: true
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SuppressionFilterOrderPageRequestBody'  
        responses:
          '200':
            description: | 
              Sucess
              
              Get Filtered Suppressions Data.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SuppressionsSucessResponsetBody'
          '401':
            $ref: 'Shared.yaml#/components/responses/Unauthorized'  

    SuppressionsCSV:
      get:
        tags:
          - suppressions
        summary: Export Suppressions data in CSV file
        security:
          - ApiKeyAuth: [ ]
          - consumerKey: [ ]
            consumerSecret: [ ]          
        operationId: exportSuppressionsDataCSV
        description: |
          Export Suppressions data in CSV file
        parameters:
          - $ref: 'Shared.yaml#/components/parameters/FromQueryParam'          
          - $ref: 'Shared.yaml#/components/parameters/ToQueryParam'        
          - $ref: 'Shared.yaml#/components/parameters/TimezoneQueryParam'
          - $ref: '#/components/parameters/SuppressionFilterQueryParam'         
          - $ref: '#/components/parameters/SuppressionFilterByQueryParam'
          - $ref: 'Shared.yaml#/components/parameters/SmartSearchQueryParam'
          - $ref: '#/components/parameters/SuppressionOrderByQueryParam'
          - $ref: 'Shared.yaml#/components/parameters/OrderTypeQueryParam'

        responses:
          '200':
            $ref: '#/components/responses/SuppressionsCSV'
          '401':
            $ref: 'Shared.yaml#/components/responses/Unauthorized'
      post:
        tags:
          - suppressions
        summary: Export filtered suppressions
        security:
          - ApiKeyAuth: [ ]
          - consumerKey: [ ]
            consumerSecret: [ ]          
        operationId: exportFilterSuppressions
        description: |
          Export Filtered Suppressions
        requestBody:
          required: true
          content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SuppressionFilterRequestBody'       
        responses:
          '200':
            $ref: '#/components/responses/SuppressionsCSV'
          '401':
            $ref: 'Shared.yaml#/components/responses/Unauthorized'     
            

    SupressionsBulkDelete:
      post:
        security:
          - ApiKeyAuth: [ ]
          - consumerKey: [ ]
            consumerSecret: [ ]          
        tags:
          - suppressions
        summary: Bulk delete suppressions
        operationId: bulkDeleteSuppressions
        description: |
          Bulk delete suppressions
        requestBody:
          required: true
          content:
            application/json:
              schema:
                  $ref: '#/components/schemas/SuppressionBulkDeleteRequestBody'
        responses:
          '200':
            description: Suppressions were sucessfully deleted.
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SuppressionsDeleteSuccess'
          '400':
            description: |
              Bad Request
              
              ###### Produces:
              
              * no_contacts_were_provided
              
            content:
              application/json:
                schema:
                  $ref: 'Shared.yaml#/components/schemas/CommonBadRequestResponseBody'
          '401':
            $ref: 'Shared.yaml#/components/responses/Unauthorized' 
      
    SuppressionsDeleteFiltered:
      post:
        tags:
          - suppressions
        summary: Delete suppressions
        security:
          - ApiKeyAuth: [ ]
          - consumerKey: [ ]
            consumerSecret: [ ]          
        operationId: deleteFilterSuppressions
        description: |
          Delete suppressions
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuppressionFilterRequestBody'
        responses:
          '200':
            description: deleted
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/SuppressionsDeleteSuccess'
          '400':
              description: |
                Bad Request
                
                ###### Produces:
                
                * 
                
              content:
                application/json:
                  schema:
                    $ref: 'Shared.yaml#/components/schemas/CommonBadRequestResponseBody'
          '401':
              $ref: 'Shared.yaml#/components/responses/Unauthorized' 
    
            
  ####################
  # Common data models
  ####################
  schemas:
  
    Suppression:
      type: object
      additionalProperties: false
      properties:
        date:
          $ref: './Shared.yaml#/components/schemas/CustomDateTimeFormat'
          example: '2021-03-17 00:00:00'
        sender:
          type:
            - string
            - "null"
        source:
          $ref: '#/components/schemas/SuppressionSource'
        subject:
          type: string
          example: "September Newsletter"
        recipient:
          type:
            - string
            - "null"
          format: email
        reason:
          type:
            - string
            - "null"
          example: 550 Error
  
    SuppressionSource:
      type: string
      enum: [ 'manual', 'bounce', 'spam', 'unsubscribe', 'validation_failed' ]
  
    SuppressionFilter:
        type: string
        description: Query to search
        example: ""

    SuppressionFilterBy:
      description: Filter by
      type: array
      items:
        $ref: '#/components/schemas/SuppressionSource'
      example: []
  
    SuppressionOrderBy:
      description: Field to sort by
      type: string
      enum: [ 'date', 'source', 'recipient', 'reason' ]
      default: 'date'
      example: 'date'
      
    SuppressionRestrictBy:
      type: string
      enum: [ 'sender', 'recipient', 'reason', 'subject' ]
      description: 'Field to restrict by'
      example: 'sender'
      
    SuppressionOperator:
      type: string
      enum: [ 'include', 'exclude' ]
      description: 'XXX'
      example: 'include'
      
    SuppressionRestriction:
      type: object
      additionalProperties: false
      description: Restriction
      properties:
        by:
          $ref: '#/components/schemas/SuppressionRestrictBy'
        operator:
          $ref: '#/components/schemas/SuppressionOperator'
        filter:
          type: string
          example: "a"
        smart_search:
          $ref: 'Shared.yaml#/components/schemas/SmartSearch'     
      
    SuppressionRestrictions:
      type: array
      items:
        $ref: '#/components/schemas/SuppressionRestriction'
      description: "xxxx"
    
  #impotSuppressions
    SuppressionImportFile:
      type: object
      additionalProperties: false
      required: [type, file]
      properties:
        type:
          type: string
          enum: ['file']
          example: 'file'
        reason:
          type: string
          description: Specifies a reason for suppressing imported email address/addresses
        file:
          type: string
          format: binary
          description: |
            CSV or TXT file containing email addresses (one per line).
            Supported formats: text/csv (CSV), text/plain (TXT).
          
    SuppressionImportJson:
      type: object
      additionalProperties: false
      required: [type, content]
      properties:
        type:
          type: string
          enum: ['manual']
          example: 'manual'
        reason:
          type: string
          description: Specifies a reason for suppressing imported email address/addresses
        content:
          type: array
          minItems: 1
          description: List of email addresses to suppress (at least one required).
          items:
            type: string
            format: email
      example:
        type: manual
        reason: schemathesis-test
        content:
          - schemathesis-test@example.com
    
    SuppressionUploadResponse:
      type: object
      additionalProperties: false
      properties:
        status:
          type: string
        valid:
          type: array
          items:
            $ref: 'Shared.yaml#/components/schemas/EmailAddress'
        invalid:
          type: array
          items: 
            type: string
      example:
        status: "success"
        valid:
          - valid.email.1@gmail.com
          - valid.email.2@gmail.com
        invalid:
          - invalid@email
          
  #getSuppressions,filterSuppressions
    SuppressionsSucessResponsetBody:
      type: object
      additionalProperties: false
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/Suppression'
      example:
                    count: 5
                    results:
                      - date: 2021-03-17 00:00:00
                        sender: andrea@emailchef.com
                        source: bounce
                        subject: Newsletter - September 2022
                        recipient: bounce1@turbo-smtp.com
                        reason: 550 Error
                      - date: 2021-03-15 00:00:00
                        sender: alberto@emailchef.com
                        source: manual
                        subject: ""
                        recipient: bounce2@turbo-smtp.com
                        reason: manual inserted
                      - date: 2021-03-14 00:00:00
                        sender: alberto@emailchef.com
                        source: spam
                        subject: Newsletter - September 2022
                        recipient: topolino@turbo-smtp.com
                        reason: spam complaint
                      - date: 2021-03-14 00:00:00
                        sender: alberto@emailchef.com
                        source: unsubscribe
                        subject: Newsletter - September 2022
                        recipient: pippo@turbo-smtp.com
                        reason: unsubscribe from list pippo
                      - date: 2021-03-13 00:00:00
                        sender: alberto@emailchef.com
                        source: validation_failed
                        subject: Newsletter - September 2022
                        recipient: minnie@turbo-smtp.com
                        reason: validation failed last import  
  
  #deleteFilterSuppressions
    SuppressionFilterRequestBody:
        type: object
        properties:
            from:
              $ref: 'Shared.yaml#/components/schemas/FromDate'
            to:
              $ref: 'Shared.yaml#/components/schemas/ToDate'
            tz:
              $ref: 'Shared.yaml#/components/schemas/Timezone'
            filter:
              $ref: 'Shared.yaml#/components/schemas/Filter'
            filter_by:
              $ref: '#/components/schemas/SuppressionFilterBy'
            smart_search:
              $ref: 'Shared.yaml#/components/schemas/SmartSearch'
            restrict:
              $ref: '#/components/schemas/SuppressionRestrictions'
        required:
          - from
          - to
    
                        
  #exportFilterSuppressions
    SuppressionFilterOrderRequestBody:
      allOf:
            - $ref: '#/components/schemas/SuppressionFilterRequestBody'      
            - type: object
              properties:
                orderby:
                  $ref: '#/components/schemas/SuppressionOrderBy'
                ordertype:
                  $ref: 'Shared.yaml#/components/schemas/OrderType'              

  #filterSuppressions
    SuppressionFilterOrderPageRequestBody:
      unevaluatedProperties: false
      allOf:
            - type: object
              properties:
                  page:
                    $ref: 'Shared.yaml#/components/schemas/Page'
                  limit:
                    $ref: 'Shared.yaml#/components/schemas/PageLimit'        
            - $ref: '#/components/schemas/SuppressionFilterOrderRequestBody'  

  #bulkDeleteSuppressions
    SuppressionBulkDeleteRequestBody:
        type: array
        minItems: 1
        description: List of email addresses to delete (at least one required).
        items:
            type: string
            format: email
            
    SuppressionsDeleteSuccess:
      type: object
      additionalProperties: false
      properties:
        success:
          type: boolean
      example:
        success: true

  ####################
  # Common parameters
  ####################
  parameters:
    SuppressionOrderByQueryParam:    
      in: query
      name: orderby
      required: false
      schema:
        $ref: '#/components/schemas/SuppressionOrderBy'
        
    SuppressionFilterQueryParam:
      in: query
      name: filter
      required: false
      schema:
        $ref: '#/components/schemas/SuppressionFilter'
      description: Text to search (recipient, sender, email subject or reason for suppression)
      examples:
        byemail:
          value: 'Jhon.Doe@gmail.com'
          summary: Search for recipient or sender.
        bytitle:
          value: 'September 2022'
          summary: Search for email title.
        byreason:
          value: 'Imported removal request'
          summary: Search for imported supressions.
          
    SuppressionFilterByQueryParam:
      in: query
      name: filter_by
      required: false
      schema:
        $ref: '#/components/schemas/SuppressionFilterBy'        



  #######################
  # Common request bodies
  #######################
  #requestBodies:
  


  ####################
  # Common responses
  ####################
  responses:
    SuppressionsCSV:
            description: Suppressions CSV data
            content:
              text/csv:
                schema:
                  type: string
                  example: |
                    Status;Subject;From;To;Date;Reason
                    FAIL;"new email alert";msaad@emailchef.com;a.shatata@emailchef.com;2022-06-28T15:08:37.821Z;"199.187.175.11 does not like recipient.
                    Remote host said: 550 5.1.1 <a.shatata@emailchef.com>: Recipient address rejected: User unknown in virtual mailbox table
                    {199.244.75.250}{550} Giving up on 199.187.175.11.
                    "
                    MANUAL;;;mohamed@test.com;2022-06-18T19:51:04.914Z;
                    FAIL;"Test sending email";msaad@emailchef.com;mshatta@yahoo.com;2021-05-03T12:21:48.000Z;"67.195.204.73 failed after I sent the message. Remote host said: 554 30 Sorry, your message to mshatta@yahoo.com cannot be delivered. This mailbox is disabled (554.30). "
                    FAIL;"Test sending email";msaad@emailchef.com;mohamed_s_shatta@gmail.com;2021-05-03T12:21:04.000Z;"142.250.138.26 does not like recipient. Remote host said: 550-5.1.1 The email account that you tried to reach does not exist. Please try 550-5.1.1 double-checking the recipient's email address for typos or 550-5.1.1 unnecessary spaces. Learn more at 550 5.1.1  https://support.google.com/mail/?p=NoSuchUser g15si5159810otg.85 - gsmtp {199.244.75.250}{550} Giving up on 142.250.138.26. "

  #########################
  # Common headers
  # (except request headers - they are defined as parameters)
  #########################
  #headers:




  ######################################
  # Common examples of input/output data
  ######################################
  #examples:


  #########################
  # Common link definitions
  # See: https://swagger.io/docs/specification/links/
  #########################
  links: {}

  #########################
  # Common callback definitions
  # See: https://swagger.io/docs/specification/callbacks/
  #########################
  callbacks: {}

  ####################
  # Security schemes
  ####################
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
    consumerKey:
      type: apiKey
      in: header
      name: consumerKey
    consumerSecret:
      type: apiKey
      in: header
      name: consumerSecret
